In [123]:
import numpy as np 
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestClassifier, RandomForestRegressor
from sklearn.tree import DecisionTreeClassifier, DecisionTreeRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import LabelEncoder
from sklearn.svm import SVC, SVR
from sklearn.metrics import precision_score, recall_score, f1_score
from sklearn.metrics import accuracy_score
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error
from sklearn.preprocessing import PolynomialFeatures

In [77]:
data = pd.read_csv("Desktop/dow_jones_index.data")
data = data.drop(columns=['date']) # Data Drop. 
data = data.drop(columns=['stock']) # Data Drop. 
data.head()

,quarter,open,high,low,close,volume,percent_change_price,percent_change_volume_over_last_wk,previous_weeks_volume,next_weeks_open,next_weeks_close,percent_change_next_weeks_price,days_to_next_dividend,percent_return_next_dividend
0,1,$15.82,$16.72,$15.78,$16.42,239655616,3.79267,NaN,NaN,$16.71,$15.97,-4.428490,26,0.182704
1,1,$16.71,$16.71,$15.64,$15.97,242963398,-4.42849,1.380223,239655616.0,$16.19,$15.79,-2.470660,19,0.187852
2,1,$16.19,$16.38,$15.60,$15.79,138428495,-2.47066,-43.024959,242963398.0,$15.87,$16.13,1.638310,12,0.189994
3,1,$15.87,$16.63,$15.82,$16.13,151379173,1.63831,9.355500,138428495.0,$16.18,$17.14,5.933250,5,0.185989
4,1,$16.18,$17.39,$16.18,$17.14,154387761,5.93325,1.987452,151379173.0,$17.33,$17.37,0.230814,97,0.175029

In [78]:
data.open = data.open.str.replace('$','')
data.high = data.high.str.replace('$','')
data.low = data.low.str.replace('$','')
data.close = data.close.str.replace('$','')
data.next_weeks_open = data.next_weeks_open.str.replace('$','')
data.next_weeks_close = data.next_weeks_close.str.replace('$','')

In [79]:
data.head()

,quarter,open,high,low,close,volume,percent_change_price,percent_change_volume_over_last_wk,previous_weeks_volume,next_weeks_open,next_weeks_close,percent_change_next_weeks_price,days_to_next_dividend,percent_return_next_dividend
0,1,15.82,16.72,15.78,16.42,239655616,3.79267,NaN,NaN,16.71,15.97,-4.428490,26,0.182704
1,1,16.71,16.71,15.64,15.97,242963398,-4.42849,1.380223,239655616.0,16.19,15.79,-2.470660,19,0.187852
2,1,16.19,16.38,15.60,15.79,138428495,-2.47066,-43.024959,242963398.0,15.87,16.13,1.638310,12,0.189994
3,1,15.87,16.63,15.82,16.13,151379173,1.63831,9.355500,138428495.0,16.18,17.14,5.933250,5,0.185989
4,1,16.18,17.39,16.18,17.14,154387761,5.93325,1.987452,151379173.0,17.33,17.37,0.230814,97,0.175029

In [80]:
data['open'] = data['open'].astype(float)
data['high'] = data['high'].astype(float)
data['low'] = data['low'].astype(float)
data['close'] = data['close'].astype(float)
data['next_weeks_open'] = data['next_weeks_open'].astype(float)
data['next_weeks_close'] = data['next_weeks_close'].astype(float)

In [81]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 750 entries, 0 to 749
Data columns (total 14 columns):
quarter                               750 non-null int64
open                                  750 non-null float64
high                                  750 non-null float64
low                                   750 non-null float64
close                                 750 non-null float64
volume                                750 non-null int64
percent_change_price                  750 non-null float64
percent_change_volume_over_last_wk    720 non-null float64
previous_weeks_volume                 720 non-null float64
next_weeks_open                       750 non-null float64
next_weeks_close                      750 non-null float64
percent_change_next_weeks_price       750 non-null float64
days_to_next_dividend                 750 non-null int64
percent_return_next_dividend          750 non-null float64
dtypes: float64(11), int64(3)
memory usage: 82.1 KB

In [87]:
data.percent_change_volume_over_last_wk[data.percent_change_volume_over_last_wk.isnull()] = data.percent_change_volume_over_last_wk.mean()
data.previous_weeks_volume[data.previous_weeks_volume.isnull()] = data.previous_weeks_volume.mean()

C:\Users\hp\Anaconda3\New folder\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\hp\Anaconda3\New folder\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [100]:
data.isna().sum()

quarter                               0
open                                  0
high                                  0
low                                   0
close                                 0
volume                                0
percent_change_price                  0
percent_change_volume_over_last_wk    0
previous_weeks_volume                 0
next_weeks_open                       0
next_weeks_close                      0
percent_change_next_weeks_price       0
days_to_next_dividend                 0
percent_return_next_dividend          0
dtype: int64

In [101]:
y = data[['next_weeks_open']].values
x = data.iloc[:,:-1].values
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.3)

print(X_train.shape, y_train.shape)
print(X_test.shape, y_test.shape)

(525, 13) (525, 1)
(225, 13) (225, 1)

In [109]:
clf = LinearRegression()
clf.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [110]:
y_train_pred=clf.predict(X_train)

mse = mean_squared_error(y_train, y_train_pred)
mae = mean_absolute_error(y_train, y_train_pred)
r2 = r2_score(y_train, y_train_pred)

print("Training metrics: \nMean square error: ", mse, "\nMean absolute error: ", mae, "\nR2 score", r2)

y_test_pred=clf.predict(X_test)

mse = mean_squared_error(y_test, y_test_pred)
mae = mean_absolute_error(y_test, y_test_pred)
r2 = r2_score(y_test, y_test_pred)

print("test metrics: \nMean square error: ", mse, "\nMean absolute error: ", mae, "\nR2 score", r2)

Training metrics:
Mean square error:  7.27814992321931e-21
Mean absolute error:  3.5219471783420885e-11
R2 score 1.0
test metrics:
Mean square error:  4.911837914719365e-21
Mean absolute error:  2.9633090055843544e-11
R2 score 1.0

In [118]:
clf2 = SVR()
clf2.fit(X_train,y_train)

C:\Users\hp\Anaconda3\New folder\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVR(C=1.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma='auto',
  kernel='rbf', max_iter=-1, shrinking=True, tol=0.001, verbose=False)

In [119]:
y_train_pred=clf2.predict(X_train)

mse = mean_squared_error(y_train, y_train_pred)
mae = mean_absolute_error(y_train, y_train_pred)
r2 = r2_score(y_train, y_train_pred)

print("Training metrics: \nMean square error: ", mse, "\nMean absolute error: ", mae, "\nR2 score", r2)

y_test_pred=clf2.predict(X_test)

mse = mean_squared_error(y_test, y_test_pred)
mae = mean_absolute_error(y_test, y_test_pred)
r2 = r2_score(y_test, y_test_pred)

print("Training metrics: \nMean square error: ", mse, "\nMean absolute error: ", mae, "\nR2 score", r2)

Training metrics:
Mean square error:  1167.1430779141058
Mean absolute error:  24.5544767526455
R2 score -0.01644930970931502
Training metrics:
Mean square error:  971.3801835185186
Mean absolute error:  23.912703703703706
R2 score -0.08262393957212266

In [129]:
clf3 = RandomForestRegressor()
clf3.fit(X_train,y_train)

y_train_pred=clf3.predict(X_train)

mse = mean_squared_error(y_train, y_train_pred)
mae = mean_absolute_error(y_train, y_train_pred)
r2 = r2_score(y_train, y_train_pred)

print("Training metrics: \nMean square error: ", mse, "\nMean absolute error: ", mae, "\nR2 score", r2)

y_test_pred=clf3.predict(X_test)

mse = mean_squared_error(y_test, y_test_pred)
mae = mean_absolute_error(y_test, y_test_pred)
r2 = r2_score(y_test, y_test_pred)

print("Training metrics: \nMean square error: ", mse, "\nMean absolute error: ", mae, "\nR2 score", r2)

Training metrics:
Mean square error:  0.06983091809523848
Mean absolute error:  0.14423238095238086
R2 score 0.9999391851866002
Training metrics:
Mean square error:  1.4202183466666662
Mean absolute error:  0.445911111111111
R2 score 0.9984171363513392

C:\Users\hp\Anaconda3\New folder\lib\site-packages\ipykernel_launcher.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

In [131]:
clf4 = DecisionTreeRegressor()
clf4.fit(X_train,y_train)

y_train_pred=clf4.predict(X_train)

mse = mean_squared_error(y_train, y_train_pred)
mae = mean_absolute_error(y_train, y_train_pred)
r2 = r2_score(y_train, y_train_pred)

print("Training metrics: \nMean square error: ", mse, "\nMean absolute error: ", mae, "\nR2 score", r2)

y_test_pred=clf4.predict(X_test)

mse = mean_squared_error(y_test, y_test_pred)
mae = mean_absolute_error(y_test, y_test_pred)
r2 = r2_score(y_test, y_test_pred)

print("Training metrics: \nMean square error: ", mse, "\nMean absolute error: ", mae, "\nR2 score", r2)

Training metrics:
Mean square error:  0.0
Mean absolute error:  0.0
R2 score 1.0
Training metrics:
Mean square error:  0.810609333333332
Mean absolute error:  0.44822222222222224
R2 score 0.9990965586031121